.App {
  text-align: center;
  width: 100;
  height: 100%;
  background-color: #e8e8e8;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
​
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
​
.App-header {
  background-color: #283428;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
​
.App-link {
  color: #61dafb;
}
​
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
​
.news-container {
  text-align: left;
  margin: auto;
}

.header{
  font-family: Comfortaa;
  padding-top: 45px;
  font-weight: bold;
}
@import url('https://fonts.googleapis.com/css?family=Asap|Comfortaa');

.small_header{
  font-family: Comfortaa;
  padding-top: 12px;
  padding-bottom: 12px;
  font-weight: bold;
  color: black;
}
@import url('https://fonts.googleapis.com/css?family=Asap|Comfortaa');

.bottom_buffer{
  padding: 25px;
}

.img{
  max-width: 25%;
  float: left;
  padding-bottom: 5px;
}

.text-secondary{
  font-family: 'Asap';
  color: grey;
  padding: 25px;
}
@import url('https://fonts.googleapis.com/css?family=Asap|Comfortaa');

.text-faq{
  font-family: 'Asap';
  color: black;
  font-size: 18px;
  padding-top: 60px;
}
@import url('https://fonts.googleapis.com/css?family=Asap|Comfortaa');

.text-faq2{
  font-family: 'Asap';
  color: black;
  font-size: 18px;
  padding-top: 100px;
}
@import url('https://fonts.googleapis.com/css?family=Asap|Comfortaa');


.text-list{
  font-family: 'Asap';
  color: black;
  font-size: 18px;
  padding-top: 25px;
}
@import url('https://fonts.googleapis.com/css?family=Asap|Comfortaa');

.center{
  text-align: center;
  display: block;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 75px;
  height: 75px;
}

.center-logo{
  text-align: center;
  display: block;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 100px;
  height: 35px;
} 

.rounded{
  border-radius: 100px;
}